body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root,
html {
  background: linear-gradient(
    90deg,
    rgba(113, 25, 165, 1) 0%,
    rgba(54, 52, 206, 1) 50%,
    rgba(0, 160, 237, 1) 100%
  );
}
